<html>
<head>
    <script src ="http://code.jquery.com/jquery-2.1.1.js"></script>
    <link href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
</head>
<body>
    <style type="text/css">
        .centerdiv {
            width:45%;
            margin-left: auto;
            margin-right: auto;
            margin-top: 50px;
            text-align: center;
        }
        .login {
            margin-left: auto;
            margin-right: auto;
            text-align: center;
            width: 45%;
        }
        .blog{
            margin-top: 0px;
            width: 45%;
            margin-left: auto;
            margin-right: auto;
        }

    </style>

    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
        <ul class="nav navbar-nav">
            {% if user != None and user.username != '' %}
                <a class="navbar-brand" href="#">{{ user.username }}</a>
                <li><a href="#" data-toggle="modal" data-target="#addblog">add blog</a> </li>
                <li><a href="./logout/">logout</a></li>
            {% else %}
                <li><a href="#" data-toggle="modal" data-target="#login">login</a></li>
            {% endif %}
        </ul>
    </nav>

    <div class="page-header centerdiv">
        <h1>Blog articles!</h1>
    </div>
    <div class="container well blog">
        {% for blog in blogs %}
            <div class="row">
                <div class="span12">
                    <div class="page-header">
                        <h3>{{ blog.title }}</h3>
                    </div>
                    {{ blog.blog_content }}
                </div>
            </div>
        {% endfor %}
    </div>
    <div class="blog well centerdiv">
            <span class="step-links">
                {% if blogs.has_previous %}
                    <a href="?page={{ blogs.previous_page_number }}">previous</a>
                {% endif %}
                <span class="current">
                    Page {{ blogs.number }} of {{ blogs.paginator.num_pages }}.
                </span>
                {% if blogs.has_next %}
                    <a href="?page={{ blogs.next_page_number }}">next</a>
                {% endif %}
            </span>
        </div>
    <div class="modal fade" id="login">
        <div class="modal-dialog">
            <div class="modal-content">
                <form method="post" action ="./">
                    {% csrf_token %}
                    <div class="modal-body login">
                        <b>Username: </b>
                            <input class="form-control" name="username">
                        <b>Password: </b>
                             <input type="password" class="form-control" name="password">
                    </div>
                     <div class="modal-footer">
                        <input type="submit" class="btn btn-success pull-left" value="Login"/>
                        <button type="button" class="btn btn-default pull-right" data-dismiss="modal">Close</button>
                    </div>
                </form>

            </div>
        </div>
    </div>

    <div class="modal fade" id="addblog">
        <div class="modal-dialog">
            <div class="modal-content">
                <form method="post" action="/addblog/">
                    {% csrf_token %}
                    <div class="modal-body login">
                        <b>Title: </b>
                            <input class="form-control" name="title">
                        <b>Blog content: </b>
                             <input type="text" class="form-control" name="blog_content">
                    </div>
                     <div class="modal-footer">
                        <input type="submit" class="btn btn-success pull-left" value="Add"/>
                        <button type="button" class="btn btn-default pull-right" data-dismiss="modal">Close</button>
                    </div>
                </form>

            </div>
        </div>
    </div>

</body>
</html>